openapi: 3.0.0
info:
  version: 1.0.0
  title: KAERA API 명세서
  description: test API
  license:
    name: yelin kim
servers:
  - url: 'https://api.kaera.site/v1'
  - url: 'http://localhost:3000/v1'
security:
  - bearerAuth: []
paths:
  /user:
    post:
      tags:
        - User
      summary: 유저 생성
      consumes:
        - application/json
      requestBody:
        x-name: body
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
            examples:
              userExample:
                $ref: '#/components/examples/userExample'
      responses:
        '200':
          $ref: '#/components/responses/successResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/user/{userId}':
    get:
      tags:
        - User
      summary: 유저 정보 조회
      parameters:
        - in: path
          name: userId
          required: true
          description: 유저 id
          schema:
            type: string
      responses:
        '200':
          description: 유저 조회 성공
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 200
                  success: true
                  message: 유저 조회 성공
                  data:
                    _id: 6283a755c2f673e5e81a6fea
                    name: 홍길동
                    email: validateTest-email2@naver.com
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /template:
    get:
      tags:
        - Template
      summary: 템플릿 종류 조회
      responses:
        '200':
          description: 템플릿 종류 조회 성공
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 200
                  success: true
                  message: 템플릿 종류 조회 성공
                  data:
                    - templateId: 1
                      title: 템플릿1
                      info: 템플릿 1 설명!~!~!
                      hasUsed: true
                    - templateId: 2
                      title: 템플릿2
                      info: 템플릿 2 설명!~!~!
                      hasUsed: false
                    - templateId: 3
                      title: 템플릿3
                      info: 템플릿 3 설명!~!~!
                      hasUsed: true
                    - templateId: 4
                      title: 템플릿4
                      info: 템플릿 4 설명!~!~!
                      hasUsed: false
                    - templateId: 5
                      title: 템플릿5
                      info: 템플릿 5 설명!~!~!
                      hasUsed: false
  '/template/{templateId}':
    get:
      tags:
        - Template
      summary: 템플릿 질문 조회
      parameters:
        - in: path
          name: templateId
          required: true
          description: 템플릿 id
          schema:
            type: string
      responses:
        '200':
          description: 템플릿 질문 조회 성공
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 200
                  success: true
                  message: 템플릿 질문 조회 성공
                  data:
                    title: 걱정을 극복하는 자기 관리론
                    info: 뭐 이 고민은 취업에 어쩌구 저쩌구
                    guideline: 고민의 장단점을 비교하며 깊게 생각해보세요.
                    questions:
                      - 고민의 선택지를 나열해보세요.
                      - 선택지들의 장점을 생각해보세요
                      - 선택지들의 단점을 생각해보세요.
                      - 장점과 단점을 비교해보세요!
                    hints:
                      - 걱정하고 있는 걸 사실대로 써봅시다.
                      - 내가 지금 할 수 있는 해결방안이나 행동을 적어봅시다.
                      - 내가 선택한 방법을 적어봅시다.
                      - 내가 선택한 방법을 적어봅시다.
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /worry:
    post:
      tags:
        - Worry
      summary: 고민 작성하기
      consumes:
        - application/json
      requestBody:
        x-name: body
        required: true
        content:
          application/json:
            schema:
              properties:
                templateId:
                  type: number
                  description: 템플릿 id
                title:
                  type: string
                  description: 고민 제목
                answers:
                  type: array
                  items:
                    type: string
                  description: 질문에 대한 답변들
                deadline:
                  type: number
                  description: 데드라인
            example:
              templateId: 1
              title: 졸업후의 나
              answers:
                - 11이번 시험 망칠까봐 걱정된다.이번 시험 망칠까봐 걱정된다.이번 시험 망칠까봐 걱정된다.
                - 22이번 시험 망칠까봐 걱정된다.이번 시험 망칠까봐 걱정된다.이번 시험 망칠까봐 걱정된다.
                - 33이번 시험 망칠까봐 걱정된다.이번 시험 망칠까봐 걱정된다.이번 시험 망칠까봐 걱정된다.
                - 44이번 시험 망칠까봐 걱정된다.이번 시험 망칠까봐 걱정된다.이번 시험 망칠까봐 걱정된다.
              deadline: 5
      responses:
        '200':
          description: 고민 작성 성공
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 200
                  success: true
                  message: 고민 작성 성공
                  data:
                    createdAt: 2022.09.01
                    deadline: 2022.09.06
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags:
        - Worry
      summary: 고민 수정하기
      consumes:
        - application/json
      requestBody:
        x-name: body
        required: true
        content:
          application/json:
            schema:
              properties:
                worryId:
                  type: number
                  description: 고민 id
                templateId:
                  type: number
                  description: 템플릿 id
                title:
                  type: string
                  description: 고민 제목
                answers:
                  type: array
                  items:
                    type: string
                  description: 질문에 대한 답변들
                deadline:
                  type: number
                  description: 데드라인
            example:
              worryId: 2
              templateId: 1
              title: 졸업후의 나
              answers:
                - 11이번 시험 망칠까봐 걱정된다.이번 시험 망칠까봐 걱정된다.이번 시험 망칠까봐 걱정된다.
                - 22이번 시험 망칠까봐 걱정된다.이번 시험 망칠까봐 걱정된다.이번 시험 망칠까봐 걱정된다.
                - 33이번 시험 망칠까봐 걱정된다.이번 시험 망칠까봐 걱정된다.이번 시험 망칠까봐 걱정된다.
                - 44이번 시험 망칠까봐 걱정된다.이번 시험 망칠까봐 걱정된다.이번 시험 망칠까봐 걱정된다.
              deadline: 5
      responses:
        '200':
          description: 고민 수정 성공
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 200
                  success: true
                  message: 고민 수정 성공
                  data:
                    updatedAt: 2022.10.10
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/worry/{worryId}':
    delete:
      tags:
        - Worry
      summary: 고민 삭제하기
      parameters:
        - in: path
          name: worryId
          required: true
          description: 고민 id
          schema:
            type: string
      responses:
        '200':
          description: 고민 삭제 성공
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 200
                  success: true
                  message: 고민 삭제 성공
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
        - Worry
      summary: 고민 상세 조회하기
      parameters:
        - in: path
          name: worryId
          required: true
          description: 고민 id
          schema:
            type: string
      responses:
        '200':
          description: 고민 상세조회 성공
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 200
                  success: true
                  message: 고민 상세조회 성공
                  data:
                    title: 고민1
                    templateId: 1
                    questions:
                      - 질문1
                      - 질문2
                      - 질문3
                      - 질문4
                    answers:
                      - 답변1
                      - 답변2
                      - 답변3
                      - 답변4
                    createdAt: 2020.01.01
                    period: 2020.01.01~2020.03.03
                    updatedAt: 2020.03.03
                    deadline: 2020.03.02
                    finalAnswer: 해카라쿠배 지원하기
                    review:
                      content: 나의 후기~!~!
                      createdAt: 2020.04.04
                      updatedAt: 2020.04.23
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /worry/finalAnswer:
    patch:
      tags:
        - Worry
      summary: 최종결정 등록하기
      consumes:
        - application/json
      requestBody:
        x-name: body
        required: true
        content:
          application/json:
            schema:
              properties:
                worryId:
                  type: number
                  description: 고민 id
                finalAnswer:
                  type: string
                  description: 최종답변
            example:
              worryId: 1
              finalAnswer: 해카라쿠배 지원하기
      responses:
        '200':
          description: 최종결정 등록 성공
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 200
                  success: true
                  message: 최종결정 등록 성공
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /worry/deadline:
    patch:
      tags:
        - Worry
      summary: 데드라인 수정하기
      consumes:
        - application/json
      requestBody:
        x-name: body
        required: true
        content:
          application/json:
            schema:
              properties:
                worryId:
                  type: number
                  description: 고민 id
                dayCount:
                  type: number
                  description: 며칠 후
            example:
              worryId: 1
              dayCount: 13
      responses:
        '200':
          description: 데드라인 수정 성공
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 200
                  success: true
                  message: 데드라인 수정 성공
                  data:
                    deadline: 2023.12.12
  '/worry/list/{isSolved}':
    get:
      tags:
        - Worry
      summary: 고민목록 조회하기
      parameters:
        - in: path
          name: isSolved
          required: true
          description: 고민해결 여부
          schema:
            type: string
      responses:
        '200':
          description: 고민목록 조회 성공
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 200
                  success: true
                  message: 고민목록 조회 성공
                  data:
                    - worryId: 1
                      templateId: 2
                      title: 고민제목1
                    - worryId: 2
                      templateId: 1
                      title: 고민제목2
                    - worryId: 3
                      templateId: 3
                      title: 고민제목3
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/worry/?templateId={templateId}':
    get:
      tags:
        - Worry
      summary: 템플릿별 고민목록 조회하기
      parameters:
        - in: query
          name: templateId
          schema:
            type: string
          required: true
      responses:
        '200':
          description: 템플릿별 고민목록 조회 성공
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 200
                  success: true
                  message: 템플릿별 고민목록 조회 성공
                  data:
                    totalNum: 3
                    worry:
                      - worryId: 1
                        title: 고민1
                        period: 2023.01.01~2023.03.02
                      - worryId: 2
                        title: 고민2
                        period: 2023.02.28~2023.03.14
                      - worryId: 3
                        title: 고민3
                        period: 2020.11.11~2021.05.06
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /review:
    put:
      tags:
        - Review
      summary: 나의 기록 등록 및 수정하기
      consumes:
        - application/json
      requestBody:
        x-name: body
        required: true
        content:
          application/json:
            schema:
              properties:
                worryId:
                  type: number
                  description: 고민 id
                review:
                  type: string
                  description: 나의 기록
            example:
              worryId: 1
              review: 후기이이ㅣㅣㅣㅣㅣ~!
      responses:
        '200':
          description: 나의 기록 등록 및 수정 성공
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 200
                  success: true
                  message: 나의 기록 등록 및 수정 성공
                  data:
                    quote: '고민하면서 길을 찾는 사람들, 그들은 참된 인간상이다.'
                    updatedAt: 2019.10.01
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters: null
  schemas:
    User:
      properties:
        name:
          type: string
          description: 유저 이름
        email:
          type: string
          description: 이메일 주소
    Error:
      type: object
      properties:
        status:
          type: number
        success:
          type: boolean
        message:
          type: string
  examples:
    userExample:
      value:
        name: 홍길동
        email: swaggerTest@naver.com
  responses:
    successResponse:
      description: successful request with no data
      content:
        application/json:
          schema:
            type: object
    BadRequest:
      description: 잘못된 요청
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            status: 400
            success: false
            message: 잘못된 요청
    InternalServerError:
      description: 서버 에러
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            status: 500
            success: false
            message: 서버 내부 오류
